/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

/public/admin/images
/public/front/images/banners
/public/front/images/brands
/public/front/images/categories
/public/front/images/products
/public/front/images
/public/front/videos
